* {
  margin: 0;
  padding: 0;
}
body {
  /* background-color: aqua; */
}
.header {
  background-color: bisque;
  height: 110px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* margin: 20px; */
  align-items: center;
  border-radius: 20px;
}
.header-logo > img {
  height: 100px;
  width: 6rem;
  border-radius: 50%;
}

.nav-items > ul {
  display: flex;

  list-style-type: none;
}
.nav-items > ul > li {
  padding: 5px;
  margin: 10px;
  font-weight: bold;
}
.nav-items > ul > li:hover {
  transform: scale(0.9);
  box-shadow: 0 0 10px maroon;
  color: rgb(241, 7, 7);
}
.search-bar > input {
  border-radius: 20px;
  height: 50px;
  width: 800px;
  color: rgb(210, 15, 15);
  border: none; /* Remove all borders */
  border-bottom: 2px solid #f22828; /* Add bottom border */
  outline: none; /* Remove focus outline */
  padding: 5px 0; /* Optional padding for spacing */
  font-size: 16px;
}
.search-bar > input:hover {
  transform: scale(0.9);
  box-shadow: 0 0 10px maroon;
  color: rgb(241, 7, 7);
}
/* .search-logo {
  width: 100rem;
  height: 50px;
  background-color: #f22828;
  cursor: pointer;
  border-radius: 50%;
  margin-right: 20px;
  text-align: center;
} */

.rest-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.rest-card {
  /* background-color: yellow; */
  height: 28rem;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(224, 12, 12, 0.221);
  width: 270px;
  padding: 10px;
  border-radius: 10px;
  overflow: auto;
}
.rest-card > h1 {
  color: black;
}
.rest-card > h1:hover {
  color: maroon;
}

.rest-card:hover {
  transform: scale(0.9);
  box-shadow: 0 0 10px Maroon;
}
.rest-card > h2 {
  color: blue;
}
.rest-card > h3 {
  color: rgb(81, 255, 0);
}
.rest-card > h4 {
  color: rgb(255, 0, 0);
}
.rest-card > h5 {
  color: rgb(0, 179, 255);
}
.rest-logo {
  border-radius: 20px;
  width: 100%;
  border-radius: 10px;
}
.footer {
  background-color: maroon;
  height: 200px;
  width: 100vw;
  color: beige;
  border-radius: 20px;
  margin-top: 10px;
}
.logo-footer {
  height: 100;
  width: 100;
  border-radius: 20px;
}
.logo-footer:hover {
  transform: scale(0.9);
  box-shadow: 0 0 10px white;
}

.wrapper-shimmi {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.shimmi-card {
  height: 28rem;
  width: 250px;
  background-color: #f0f0f0;
  border-radius: 10px;
  margin: 10px;
  /* box-shadow: 0 0 5px rgba(0, 0, 255, 0.61); */
  padding: 10px;
  position: relative;
  overflow: hidden;
}
.shimmi-card::before {
  content: "";
  width: 40%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0),
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0)
  );
  position: absolute;
  top: 0;
  left: -150px;
  transform: skewX(-20deg);
  animation: shimmi 1s linear infinite;
}
.shimmi-image {
  width: 100%;
  height: 150px;
  background-color: rgba(201, 195, 195, 0.651);
  border-radius: 10px;
}
.shimmi-title {
  width: 100%;
  height: 30px;
  background-color: rgba(201, 195, 195, 0.651);
  border-radius: 10px;
  margin-top: 10px;
}
.shimmi-cusine {
  width: 100%;
  height: 30px;
  background-color: rgba(201, 195, 195, 0.651);
  border-radius: 10px;
  margin-top: 10px;
}
.shimmi-rating {
  width: 100%;
  height: 30px;
  background-color: rgba(201, 195, 195, 0.651);
  border-radius: 10px;
  margin-top: 10px;
}
.shimmi-delivery {
  width: 100%;
  height: 30px;
  background-color: rgba(201, 195, 195, 0.651);
  border-radius: 10px;
  margin-top: 10px;
}
@keyframes shimmi {
  0% {
    transform: translatex(-200%) skewX(-20deg);
  }
  50% {
    transform: translatex(250%) skewX(-20deg);
  }
  100% {
    transform: translatex(400%) skewX(-20deg);
  }
}
